* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    padding: 10px;
    overflow-x: hidden;
    user-select: none;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 25px;
    border-radius: 10px;
}

.todo-app h1 {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h1 img {
    margin-left: 34px;
    width: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    font-size: 15px;
    border-radius: 40px;
    cursor: pointer;
}

p {
    display: none;
    color: red;
    font-size: 13px;
    user-select: none;
    padding: 13px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    word-wrap: break-word;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(circle-regular.svg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    /* color: goldenrod; */
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(circle-check-solid.svg);
}

ul li span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    top: 5px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

/* Add media query for responsiveness */
@media screen and (max-width: 600px) {
    

    .todo-app h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .container{
        padding: 15px;
    }

    .row {
        padding-left: 15px;
        margin-bottom: 15px;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 14px 23px;
        font-size: 14px;
    }
}
@media screen and (max-width: 359px) {
    .todo-app h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .container{
        padding: 15px;
    }

    .row {
        padding-left: 15px;
        margin-bottom: 15px;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }
    button {
        padding: 14px 24px;
        font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
    .todo-app h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .container{
        padding: 15px;
    }

    .row {
        padding-left: 15px;
        margin-bottom: 15px;
    }

    input {
        padding: 8px;
        font-size: 10px;
    
    }
    button {
        padding: 14px 11px;
        font-size: 14px;
    }
}
